# dependencies for backend
fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
chromadb
langchain_groq
python-multipart
pypdf
sentence-transformers
python-dotenv
pymupdf
pdf2image
pytesseract
langchain-pinecone
qdrant-client
langchain-qdrant
qdrant-client==1.9.0
langsmith
